/* .vitepress/theme/custom.css */

img {
    display: inline;
    margin: 2px;
}

@media (min-width: 1000px) {
    #screenshot {
        width: 900px;
    }
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}
